"""У тебя есть группа студентов. Нужно смоделировать данные и провести аналитику.
 1. Создай DataFrame со столбцами:
 • Имя (10–15 случайных имён),
 • Возраст (от 18 до 25),
 • Группа (например: “Физика”, “Математика”, “Информатика”),
 • Оценка за экзамен (от 2 до 5),
 • Посещаемость (%) (от 50 до 100).
 2. Добавь колонку «Статус»:
 • Если Оценка ≥ 4 и Посещаемость ≥ 75 → «Успешный»,
 • Если Оценка ≥ 3 и Посещаемость ≥ 60 → «Средний»,
 • Иначе → «Неуспевающий».
 3. Сделай группировку по «Группа» и найди:
 • среднюю оценку,
 • среднюю посещаемость,
 • количество «успешных» студентов.
 4. Красиво оформи вывод:
 • подсвети «успешных» студентов зелёным,
 • «неуспевающих» — красным,
 • добавь градиент по посещаемости.
 5. Найди:
 • студента с лучшей посещаемостью,
 • группу с самым высоким средним баллом. """

In [ ]:
import random

import pandas as pd
k = int(input("Введите количество учеников в группе"))
names = ["Мария","Никита","Саша","Петя","Ваня","Катя","Алиса","Арина","Алина","Анжела","Георгий","Савелий","Настя","Кира"]
groups = ["Математика","Физика","Информатика","Английский","Физ-ра","Немецкий","Философия","Психология","Русский язык"]
name = [random.choice(names) for i in range(k)]
statuses = []
print(name)
vozr = [random.randint(18,25) for i in range(k)]
group = [random.choice(groups) for i in range(k)]
mark = [random.randint(2,5) for i in range(k)]
attendance = [random.randint(50,100) for i in range(k)]
df1 = pd.DataFrame({"Имя":name,"Возраст":vozr,"Группа":group,"Оценка":mark,"Посещаемость":attendance})

for i in range(len(df1)):

    if df1.loc[i,"Посещаемость"] >= 75 and df1.loc[i,"Оценка"] >= 4:
        statuses.append("Успешный")
    elif df1.loc[i,"Посещаемость"] >= 60 and df1.loc[i,"Оценка"] >= 3:
        statuses.append("Средний")
    else:
        statuses.append("Неуспевающий")
df1["Статус"] = statuses
print(df1)

x = df1.groupby("Группа")["Возраст"].mean()
print(x," - Средний возраст по группам")
m = df1.groupby("Группа")["Посещаемость"].mean()
print(m," - Средняя посещаемость по группам")
c = (df1["Статус"] == "Успешный").sum()
print(c," - Количество успешных учеников")

maxmark=df1["Оценка"].max()
student=df1[df1["Оценка"]==maxmark]
print("Студент с наивысшей оценкой:")
print(student[["Имя","Группа","Оценка"]])

sr=df1.groupby("Группа")["Оценка"].mean()
luchsh=sr[sr==sr.max()]
print("Группа с наивысшей оценкой:")
print(luchsh)


styleddf2= df1.style.map(
        lambda v: 'background-color: lightgreen; text-decoration: underline' if v == 'Успешный' else '', subset=['Статус']
    )
styleddf2

Введите количество учеников в группе30
['Мария', 'Алина', 'Настя', 'Савелий', 'Анжела', 'Ваня', 'Настя', 'Алиса', 'Катя', 'Петя', 'Саша', 'Настя', 'Настя', 'Анжела', 'Арина', 'Кира', 'Кира', 'Савелий', 'Савелий', 'Георгий', 'Ваня', 'Ваня', 'Кира', 'Георгий', 'Алина', 'Анжела', 'Алиса', 'Анжела', 'Петя', 'Арина']
        Имя  Возраст        Группа  Оценка  Посещаемость        Статус
0     Мария       23        Физика       4            95      Успешный
1     Алина       23      Немецкий       5            69       Средний
2     Настя       25     Философия       5            62       Средний
3   Савелий       20        Физика       4            97      Успешный
4    Анжела       23    Психология       4            97      Успешный
5      Ваня       21    Психология       3            83       Средний
6     Настя       22    Математика       2            96  Неуспевающий
7     Алиса       21     Философия       4            86      Успешный
8      Катя       22    Английский       3            96       Средний
9      Петя       22    Психология       5            67       Средний
10     Саша       19  Русский язык       5            66       Средний
11    Настя       21      Немецкий       4            78      Успешный
12    Настя       21  Русский язык       3            58  Неуспевающий
13   Анжела       23   Информатика       2            77  Неуспевающий
14    Арина       20      Немецкий       5            55  Неуспевающий
15     Кира       20  Русский язык       4            86      Успешный
16     Кира       20   Информатика       4            80      Успешный
17  Савелий       19     Философия       5            81      Успешный
18  Савелий       23      Немецкий       5            93      Успешный
19  Георгий       23   Информатика       3            64       Средний
20     Ваня       19   Информатика       5           100      Успешный
21     Ваня       25      Немецкий       3            98       Средний
22     Кира       23        Физика       4            75      Успешный
23  Георгий       23  Русский язык       2            54  Неуспевающий
24    Алина       24        Физика       4            98      Успешный
25   Анжела       18      Немецкий       2            73  Неуспевающий
26    Алиса       20  Русский язык       5            84      Успешный
27   Анжела       21  Русский язык       3            67       Средний
28     Петя       24  Русский язык       4            97      Успешный
29    Арина       24    Английский       3            89       Средний
Группа
Английский      23.000000
Информатика     21.250000
Математика      22.000000
Немецкий        21.666667
Психология      22.000000
Русский язык    21.142857
Физика          22.500000
Философия       21.666667
Name: Возраст, dtype: float64  - Средний возраст по группам
Группа
Английский      92.500000
Информатика     80.250000
Математика      96.000000
Немецкий        77.666667
Психология      82.333333
Русский язык    73.142857
Физика          91.250000
Философия       76.333333
Name: Посещаемость, dtype: float64  - Средняя посещаемость по группам
14  - Количество успешных учеников
Студент с наивысшей оценкой:
        Имя        Группа  Оценка
1     Алина      Немецкий       5
2     Настя     Философия       5
9      Петя    Психология       5
10     Саша  Русский язык       5
14    Арина      Немецкий       5
17  Савелий     Философия       5
18  Савелий      Немецкий       5
20     Ваня   Информатика       5
26    Алиса  Русский язык       5
Группа с наивысшей оценкой:
Группа
Философия    4.666667
Name: Оценка, dtype: float64